.aboutContainer{
  position: relative;
  top: 10vh;
  display: flex;
  width: 80%;
  height:90%;
  font-family: Lato;
  margin: 3em;
  display: flex;
  flex-direction: column;
  float: left;
}

.bluepaint{
  /*display: block;*/
  margin: 2em;
  align-self: center;
}
