.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 3000ms ease-out;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 3000ms ease-out;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 800ms ease-out;
}




/*font-family: 'Varela Round', sans-serif;*/
/*font-family: 'Catamaran', sans-serif;*/
/*font-family: 'Source Code Pro', monospace;*/
/*font-family: 'Nanum Gothic Coding', monospace;*/
/*font-style: bold;*/
/*font-family: 'Vollkorn', serif;*/
/*font-family: 'Domine', serif;*/


/*p{*/
 /*font-family: 'Source Sans Pro', sans-serif;*/
/*font-family: 'Dosis', sans-serif;*/
/*font-family: 'Hind', sans-serif;*/
/*font-family: 'Gidugu', sans-serif;*/
/*font-family: 'Cutive Mono', monospace;*/

/*font-family: 'Varela Round', sans-serif;*/
/*font-family: 'Catamaran', sans-serif;*/
/*font-family: 'Source Code Pro', monospace;*/
/*font-family: 'Nanum Gothic Coding', monospace;*/
/*font-style: bold;*/
/*font-family: 'Vollkorn', serif;*/
/*font-family: 'Domine', serif;*/
/*}*/
