
#inner-wrapper{
    background-image: url(/images/LA.jpg);
    background-repeat: no-repeat;
    -moz-clip-path: url(#noAnimate);
    -ms-clip-path: url(#noAnimate);
    -webkit-clip-path: url(#noAnimate);
    clip-path: url(#blobClip);
    background-size: cover;
    position: relative;
    top: 10vh;
    height: 90vh;
    opacity: 0.7;
    backface-visibility: hidden;
    transform: translateZ(0px);
    overflow: hidden;
  }



#svg-wrapper{
  opacity: 0;
  transition: transform 2s ease-out;
  backface-visibility: hidden;
  rotate: (0.001deg);
  transform-style: preserve-3d;
}

#blobClip{
  transform-origin: center;
  backface-visibility: hidden;
}

#blobby {
  display: flex;
  justify-content: center;
  position: fixed;
  transform: rotate(0.01deg);
  backface-visibility: hidden;
  transform-style: preserve-3d;
}


#outterText {
  font-size: 35px;
  z-index: 3;
  position: absolute;
  width: 50%;
  top: 45vh;
  right: 25%;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
#outterText  a {
  color: #ff6919;
  font-size: 35px;
  cursor: pointer;
  opacity: .3;
  text-decoration: none;
}

#outterText p{
  font-family: 'Varela Round', sans-serif;
}
#innerText p{
  font-family: 'Varela Round', sans-serif;
}

#innerText{
  text-shadow: black 5px 0 20px;
  text-align: center;
  width: 50%;
  color: white;
  font-size: 35px;
  z-index: 9999;
  position: absolute;
  top: 35vh;
  right: 25%;
  cursor: pointer;
  opacity: 1;
}
.shadow {
  width: 100%;
  filter: drop-shadow(-16px 16px 50px grey);
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
