
.carouselcontent {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  border: 0 !important;
  overflow: hidden;
}

.carouselcontent > img {
  display: none;
  overflow: hidden;
}

.carouselbuttonmacbook{
  min-width: 24px;
  max-width: 30px;
  background: grey;
  position: absolute;
  bottom: 8em;
  z-index: 999;
}

.carouselbuttoniphone {
  min-width: 24px;
  max-width: 30px;
  background: grey;
  position: absolute;
  bottom: 6em;
  z-index: 999;
}

.carouselbuttoniphone img, .carouselbuttonmacbook img{
  -webkit-animation: flash 3s ease infinite;
     -moz-animation: flash 3s ease infinite;
          animation: flash 3s ease infinite;
}

.carouselcontent:hover img {
  -webkit-animation: none;
     -moz-animation: none;
          animation: none;
}

.active {
  display: block !important;
}

@-webkit-keyframes flash {
  0% { opacity: 0; }
  25% { opacity: 1; }
  50% { opacity: 0; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes flash {
  25% { opacity: 1; }
  50% { opacity: 0; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}

@media (max-width: 640px) {
  .carouselbuttonmacbook {
    position: absolute;
    bottom: 3em;
  }
  .carouselbuttoniphone {
    position: absolute;
    bottom: 6em;
  }
}



