
.carouselcontent {
  position: relative;
  margin: 0 auto;
  /*overflow: hidden;*/
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  border: 0 !important;
}

.carouselcontent > img {
  display: none;
}

.carouselbuttonmacbook{
  min-width: 24px;
  max-width: 30px;
  background: grey;
  position: absolute;
  bottom: 8em;
  z-index: 999;
}

.carouselbuttoniphone {
  min-width: 24px;
  max-width: 30px;
  background: grey;
  position: absolute;
  bottom: 6em;
  z-index: 999;
}


.carouselcontent .carouselbutton {
  animation: flash 3s ease infinite;
}

.carouselcontent:hover .carouselbutton {
  animation: none;
}

.active {
  display: block !important;
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}



@media (max-width: 640px) {

.carouselbuttonmacbook {
   position: absolute;
    bottom: 3em;
  }

  .carouselbuttoniphone {
     position: absolute;
    bottom: 6em;
  }

}



