*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
:focus {outline:0 !important;}

* {
  margin: 0;
  padding: 0;
}
/* Responsive images */
img {
  max-width: 100%;
  display: block;
}

* a {
  color: black;
  text-decoration: none;
}

p{
  font-family: 'Source Sans Pro', sans-serif;
}

/*styles for CONTAINERS::::::::*/
.singleproject{
  position: relative;
  top: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}


#description{
  margin: 2em;
  padding-right: 4em;
  width: 60%;
}

#description p{
  font-family: 'Source Sans Pro', sans-serif;
}

#projLinks p{
font-family: 'Source Code Pro', monospace;
}


/*#projLinks{
  display: flex;
}*/

#projLinks a{
  display: flex;
  margin: 1em;
}
#projLinks i{
  margin-right: 1em;
}
#projLinks p{
  font-size: 12px;
  color: #7dcebf;
}



#projectTitle{
  margin: 2em;
  font-size: 2em;
font-family: 'Varela Round', sans-serif;
}

.firstRow{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

/*styles for macbook::::::::*/
.macbookcontainer{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2em;
}
#macbook {
  position: relative;
  max-width: 100%;
  z-index: 99;
  pointer-events: none;
}
.macbookcontent {
  position: absolute;
   z-index: 98;
}

/*styles for iphone::::::::*/
.iphonecontainer{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 6em;
  width: 25%;
  min-width: 200px;
}

#iphone {
  position: relative;
  z-index: 99;
  background-color: #11ffee00;
  pointer-events: none;
}

.iphonecontent{
  position: absolute;
  z-index: 98;
  overflow: hidden;
}

@media (max-width: 640px) {

  .iphonecontainer{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
  }

  .firstRow{
    position: relative;
    display: flex;
    /*flex-direction: column-reverse;*/
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  #description{
    margin: 0 auto;
    width: 80%;
    padding-left: 2em;
    text-align: justify-all;
  }


  #projectTitle{
  margin: 1em;
  font-size: 1.5em;
}

}
