* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width:100%;
  height:100%;
 }

.outterWorkContainer {
  position: absolute;
  top: 10vh;
  background-color: /*#b7e8e8;*/ /*#aae0ff;*/ #c2e3ed /*#ffdfc1*/;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
  overflow: scroll;
}

.outterWorkContainer p{
  font-family: 'Varela Round', sans-serif;
  font-size: 1.5em;
}

#workContainer {
  position: relative;
  width: 75vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
  margin: 0 auto;
  /*background-color:#b7e8e8;*/
  text-align: center;
  z-index: 99;
}

#workContainer img{
  z-index: 99;
}

#projTitle{
  font-family: 'Varela Round', sans-serif;
  font-size: 1.35em;
  font-weight: 400px;
  color: white;
  text-shadow: 2px 2px 6px #f4cbb5; /*#b7e8e8;*/ /*#f4cbb5*/
  margin: auto;
  position: relative;
  top: -1em;
  z-index: 100;
}

#iloveplant{
  position: relative;
  width:50%;
}

#exquisite_graveyard{
  position: relative;
  width: 50%;
}

#artist_portfolio{
  position: relative;
  width: 50%;
}

#d_construction{
  position: relative;
  width: 50%;
}

@media (max-width: 640px) {
  #workContainer {
    display: flex;
    width: 90vw;
    flex-direction: column;
    align-items: center;
    z-index: 99;
  }

  #projTitle{
  font-family: 'Varela Round', sans-serif;
  font-size: 1em;
  font-weight: 400px;
  color: white;
  text-shadow: 2px 2px 6px #f4cbb5;
  margin: auto;
  position: relative;
  top: -1em;
  }
}

/*@media(min-width: 800px) and (max-height: 315px) {*/
/*  @media (max-height: 415px) {
  #workContainer {
  position: relative;
  width: 80vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
  }
}*/
/*
    clip-path: url(#litteMorphClip2);
    -webkit-clip-path: url(#litteMorphClip2);
    -webkit-transform-style: preserve-3d;
*/

/*
div {
    display: -webkit-flex;
   -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    -moz-
}
*/







